// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// ==========================================================================
// Functions
// ==========================================================================

// Import if Google Fonts URL is defined
@if variable-exists(font-url--Raleway){
  @import url($font-url--Raleway);
}

// Functions and Directives
//$context: $base__font-size = basefont size is defualt if no context
@function em($target, $context: $base__font-size){
  @return ($target/$context) * 1em;
}

//call color palette modifiers
//map-get(map-get($palettes, grey), x-dark);
//https://www.codefellows.org/blog/so-you-want-to-play-with-list-maps
@function palette($palette, $shade: 'base'){
  @return map-get(map-get($palettes, $palette), $shade);
}

// ==========================================================================
// Mixins
// ==========================================================================

@mixin round($round: 5px) {
  border-radius: $round;
  -moz-border-radius: $round;
  -webkit-border-radius: $round;
  background-clip: padding-box;
}

// Bem selectors
// this adds __ to our specified class using the smacss guidelines
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

//modifier
//add-- when you make a new file
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin img-replace($img, $h, $w, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');
  background-repeat: no-repeat;
  width:$w;
  height:$h;
  display:$disp;
  @content;
}

@mixin pull($direction: none){
  @if $direction == "right" {
    float: right !important;
  }
  @elseif $direction == "left" {
    float: left !important;
  }

}

@mixin letterpress($x: 0, $y: 0, $blur: 1px, $color: #000){
  text-shadow:$x, $y, $blur, $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

//BREAKPOINTS
//TODO update breakpoints for Bootstrap
@mixin breakpoint($point) {
  @if $point == desktopXL {
    @media (min-width: 1600px) { @content ; }
  }
  @else if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 992px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }
    //  @else if $point == phablet {
    //    @media (min-width: $small-screen-up)  { @content ; }
    //  }
  @else if $point == mobile {
    @media (max-width: 480px)  { @content ; }

  }
}

